body {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    font-weight: 300;
}

#Inspiration {
    width: 100%;
    height: 800px;
    background-color: thistle;
}

#Work {
    width: 100%;
    height: 800px;
    background-color: lightpink;
}

#ChatBot {
    width: 100%;
    height: 800px;
    background-color: lavender;
}

img {
    transition: transform.2s;
}

img..hover {
    transform: scale(0.9);
}

.line {
    height: 6px;
    background-color: cornsilk;
    width: 70px;
    margin: 8px auto;
}
